@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body
{
  background-color: #0C0C0C;
  overflow-y: hidden;
  overflow-x: hidden;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 490px;
  background-color: #1C1C1C;
  border-radius: 3px;
}

.inside-div
{
  position: absolute;
  margin: auto;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 290px;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  text-align: center;
}

img 
{
  max-width: 100%;  
  padding: 15px;
}

a 
{
  text-decoration: none;
}

a:hover 
{
  text-decoration: none;
}

.btn 
{
  display: inline-block;
  margin: 1rem 0;
  color: #E6E6E6;
  font-family: 'Nunito Sans', sans-serif;  
  font-size: 18px;
  background: #1c262b;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.9rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin:0px 0px -4px 0px;
}

.btn:hover 
{
  background: #26343a;
  color: #E6E6E6;
}

.btn:focus, .btn:active, .btn:focus:active 
{
  background: #12181c;
  border-color: #12181c;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}
